body {
	position: relative;;
	margin: 0px;
}

div.sentence {
	padding: 8px;
	border-bottom: 1px solid lightgray ;
	margin-bottom: 2px;
}

div.mi {
	cursor: pointer;
	background-color: lightblue;
}

div.selected {
	background-color: lightgreen;
}

#divSentence {
	padding: 16px;
}

span.voc_no, span.voc_e, span.voc_c {
	display: inline-block;
}

span.voc_no {
	width:30px;
}

span.voc_e, span.voc_c {
	width:150px;
	padding: 4px ;
	margin-left: 8px;
	border-bottom: 1px solid lightgray;
}

input.edit {
	padding: 4px;
	font-size: large;
}
